@import "tailwindcss";

@theme {
  --color-primary: #64FFDA;
  --color-background-dark: #0A192F;
  --color-surface-dark: #112240;
  --color-text-light: #E6F1FF;
  --color-text-secondary: #8892B0;

  --font-family-display: "Manrope", "sans-serif";
  --font-family-serif: "Playfair Display", "serif";

  --border-radius-DEFAULT: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 1.5rem;
  --border-radius-full: 9999px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0A192F;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section-visible {
  opacity: 1;
  transform: translateY(0);
}

nav a.active {
  color: #64FFDA; 
}

#mobile-menu.active {
  transform: translateX(0);
}

/* Mencegah body di-scroll saat menu mobile terbuka */
body.menu-open {
  overflow: hidden;
}