@font-face {
    font-family:"Inter";
    src:url('./assets/fonts/subset-Inter-Regular.woff2') format('woff2'), 
    url('./assets/fonts/subset-Inter-Regular.woff') format('woff');
}

html {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    color: #1F2A44;
}

h2 {
    font-size: 2.25rem;
    color: #1F2A44;
}

h3 {
    font-size: 1.5rem;
    color: #1F2A44;
}

p, label {
    font-size: 1.25rem;
    color: #3D3D3D;
}

.section h1, .section h2 {
    padding: 10px 0;
}

.input-box p {
    font-weight: 600;
}

.primary-button {
    background-color: #1F2A44;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    width: 202px;
    height: 49px;
    cursor: pointer;

    transition: 
    background-color 300ms ease-in-out,
    transform 100ms ease-in-out;
}

.secondary-button {
    background-color: transparent;
    border: 0.1rem solid #1F2A44;
    color: #1F2A44;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 202px;
    height: 49px;
    cursor: pointer;
    
    transition: 
    background-color 300ms ease-in-out,
    transform 100ms ease-in-out,
    color 200ms ease-in-out;
}

/* Styling khusus untuk anchor tags */
.primary-button, .secondary-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* Hover ke Active: ease-out 200ms */
.primary-button:hover:active, .secondary-button:hover:active {
    color: #fff;
    transition: 
    background-color 200ms ease-out,
    transform 100ms ease-out;
}

/* Active ke Hover: ease-in 200ms */
.primary-button:active:hover, .secondary-button:active:hover {
    transition: 
    background-color 200ms ease-in,
    transform 100ms ease-in;
}

/* Hover state */
.primary-button:hover, .secondary-button:hover {
    background-color: #4F6D7A;
    color: #fff;
}

/* Active (klik) state */
.primary-button:active, .secondary-button:active {
    background-color: #3A4E5A;
    transform: scale(0.97); /* kasih feel tombol ditekan */
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #1F2A44;
    transition: color 300ms ease-in-out;
}

header a {
    position: relative;
}

header nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #4F6D7A;

    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

header nav a:hover {
    color: #4F6D7A;
}

header nav a:hover::after {
    opacity: 1;
}

.language-toggle {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1F2A44;
}

.language-toggle button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    text-decoration: none;
    color: #1F2A44;
    transition: color 300ms ease-in-out;
    cursor: pointer;
}

.language-toggle button:hover {
    color: #4F6D7A; /* Warna hover yang sama dengan navigasi */
}

.language-toggle button:active {
    color: #3A4E5A; /* Contoh: warna aksen */
}

.separator {
    width: 263px;
    height: 1px;
    border: none;
    background-color: #4F6D7A;
    margin: 0 auto;
    display: block;
}

.separator-project {
    width: 100%;
    height: 0;
    border: none;
    border-bottom: 1px solid #4F6D7A;
    margin: 0;
}

.tech-stack-icon {
    width: 52px;
    height: 52px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    background-color: #1F2A44;
    color: #fff;
    text-align: center;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 1rem;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.icon-link, .contact-link {
    display: inline-block;
    cursor: pointer;
    
    transition: 
    color 300ms ease-in-out,
    transform 100ms ease-in-out;
}

.icon-link {
    color: #1F2A44;
}

.contact-link {
    color: #fff;
}

.icon-link:hover, .contact-link:hover {
    color: #4F6D7A;
}

.icon-link:active, .contact-link:active {
    color: #3A4E5A;
    transform: scale(0.90);
}

.icon-link:hover:active, .contact-link:hover:active {
    transition: 
    color 200ms ease-out,
    transform 100ms ease-out;
}

.icon-link:active:hover, .contact-link:active:hover {
    transition: 
    color 200ms ease-in,
    transform 100ms ease-in;
}

input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #A8B0B8;
    padding: 10px 20px;
    font-family: "Inter";
    font-size: 1.25rem;
    color: #1F2A44;
    font-weight: 500;
}

input:focus {
    border: 1px solid #4F6D7A;
    outline: none;
}

input::placeholder {
    color: #A0A0A0;
    font-size: 1.25rem;
}

textarea {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #A8B0B8;
    padding: 10px 20px;
    resize: none;
    font-family: "Inter";
    font-size: 1.25rem;
    color: #1F2A44;
    font-weight: 500;
}

textarea:focus {
    border: 1px solid #4F6D7A;
    outline: none;
}

textarea::placeholder {
    color: #A0A0A0;
    font-size: 1.25rem;
}

.notification {
  position: fixed;
  width: 233px;
  bottom: 3.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(122px);
  background-color: #4CAF50; /* warna tombol default */
  color: white;
  padding: 1.25rem 0;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 999;
  border: none;
  text-align: center;
}

.notification h3 {
  color: white;
  margin: 0;
  padding: 0;
}

.notification.error {
  background-color: #F44336;
  color: white;
}

.notification.error h3 {
  color: white;
}

.notification.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.notification.hide {
  opacity: 0;
  transform: translateX(-50%) translateY(100px);
}

body {
    background-color: #F7F9FB;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    background-color: #F7F9FB;
    height: 121px;
    padding: 36px 32px 36px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navigation {
    display: flex;
    align-items: center;
    gap: clamp(1.5rem, 2.5vw, 2.5rem);
}

#navigation nav {
    padding: 10px 0px 10px 0;
    display: flex;
    gap: clamp(1.25rem, 3vw, 3.125rem);
}

#navigation-mobile {
    display: none;
    align-items: center;
    gap: clamp(1.5rem, 2.5vw, 2.5rem);
}

#hamburger {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

#hamburger span {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #1F2A44;
  border-radius: 2px;
  transition: all 0.3s ease;
}

#hamburger span:nth-child(1) {
  top: 0;
}

#hamburger span:nth-child(2) {
  top: 10px;
}

#hamburger span:nth-child(3) {
  top: 20px;
}

#hamburger.active span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}

#hamburger.active span:nth-child(2) {
  opacity: 0;
}

#hamburger.active span:nth-child(3) {
  top: 10px;
  transform: rotate(-45deg);
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 121px;
    gap: 80px;
    padding: 25px 32px;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px 0 25px 0;
    scroll-margin-top: 121px;
}

.section-text {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 880px;
    margin: 0 auto 25px auto;
    gap: 35px;
}

.section-body {
    padding: 10px 0 10px 0;
    margin-inline: clamp(2rem, 4.5vw, 2.8125rem);
}

#hero-button {
    display: flex;
    gap: 61px;
    margin: 0 auto;
}

.tech-stack-list {
    display: flex;
    gap: 30px 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#project-grid {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 113px;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 514px;
}

.project-card a img {
    width: 100%;
    aspect-ratio: 514 / 274;
}

.project-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-text > *:not(hr) {
    padding: 10px 0;
}

.project-text > hr {
    padding: 5px 0;
}

.project-card .tech-stack-list {
    justify-content: flex-start;
    gap: 25px;
}

.project-link {
    display: flex;
    gap: 20px;
}

#contact-form {
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: 0 auto;
    gap: 8%;
}

#textfield-form, .input-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#textfield-form, #textarea-form {
    width: 50%;
}

.input-box {
    gap: 9px;
    flex: 1;
}

#textarea-form .input-box {
    height: 100%;
}

#textarea-form .input-box textarea {
    flex-grow: 1;
    height: auto;
}

#submit-container {
    width: 83%;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: flex-end;
}

#contact-form-wrapper {
    border: none;
    margin-top: 25px;
}

footer {
    background-color: #1F2A44;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 70px;
}

footer h2 {
    color: #fff;
    font-weight: 700;
    text-align: center;
}

footer h3 {
    color: #D3DDE6;
    font-weight: 500;
    text-align: center;
    overflow-wrap: break-word;
}

#footer-links {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

@media (max-width: 1050px) {
    #contact-form {
        flex-direction: column;
        width: 95%;
        gap: 10px;
    }

    #textfield-form, #textarea-form {
        width: 100%;
    }

    #textarea-form .input-box textarea {
        min-height: 110px;
    }

    #submit-container {
        width: 95%;
        margin: 20px auto;
    }

    #submit-container .primary-button{
        width: 100%;
    }
}

@media (max-width: 600px) {
    #hero-button {
        flex-direction: column;
        gap: 25px;
    }
}

@media (max-width: 1023px) {
    #navigation {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        padding-top: 10vh;
        padding-bottom: 40px;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: 
            transform 0.6s ease-in-out,
            opacity 0.6s ease-in-out,
            visibility 0.6s ease-in-out;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
    }

    #navigation.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    #navigation nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(0rem, 1vw, 3rem);
    }

    #navigation nav a {
        margin: 15px 0;
        font-size: 1.5em;
    }

    #navigation .language-toggle {
        margin-top: 20px;
    }

    #navigation .primary-button {
        margin-top: 20px;
        padding: 10px 20px;
    }

    #navigation-mobile {
        display: flex; /* Tampilkan navigation-mobile di mobile */
        align-items: center;
    }

    #hamburger {
        display: flex;
    }
}